@model ManyToManyCore.Models.Project
@{
    ViewData["Title"] = "Project Editor";
    Layout = "_Layout";
}

    <h4>@ViewData["Title"]</h4>
    <form asp-action="Update" method="post" class="p-2">
        <!-- <div class="m-1 p-1">

            -->
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="p-1">
            <div class="row">
                <div class="col"><strong>Name </strong></div>
            </div>
            <div class="row">
                <div class="col">


                    <input asp-for="@Model.Name" />
                </div>
            </div>
            <div class="row">
                <div class="col"><strong>Data </strong></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="date" id="Date" name="Date"
                           value="@Model.Date.Value.ToString("yyyy-MM-dd")">
                </div>
            </div>
        </div>

        @foreach (var item in ViewBag.Students)
        {
            <div class="form-row">
                <div class="form-group col-1">
                    @if (Model.StudentProjectJunction.Any(sp => sp.StudentId == item.Id))
                    {
                        <input type="checkbox" name="checkbox" value="@item.Id" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="checkbox" value="@item.Id" />
                    }
                </div>
                <div class="form-group col">
                    <label class="form-control-label">@item.LastName</label>
                </div>
            </div>
        }
        <br><br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit"> Save and exit </button>
            <a asp-controller="Project"
               asp-action="Index" class="btn btn-secondary">
                To the list of projects
            </a>
            <a asp-controller="Students"
               asp-action="Index" class="btn btn-secondary">
                To the list of studens
            </a>

        </div>
    </form>
